
.headerContainer {
  overflow: hidden;
  height: 130px;
  padding-left: 20px;
  background-image: url("../../../imgs/backgroundpatern.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}
h1 {
  color: #4e2284;
  font-size: 28px;
}
.searchTxt {
  width: 457px;
  height: 20px;
  background-color: #d2b1fa;
  border-radius: 7px;
  border-width: 0;
}
.homeContent {
  margin-top: 35px;
}
h2 {
  font-size: 17px;
  color: #29272c;
  margin-left: 30px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: #045e2d;
  margin-left: 30px;
}
.bottomContainer {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-top: 20px;
  margin-left: 30px;
}
.bcontainerContent {
  background-color: #a7f1c0;
  width: 120px;
  height: 120px;
}
.material-icons md-48 purple700 {
  color: #8d77b4;
}
.custom-shape-divider-bottom-1669647413 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669647413 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 172px;
}

.custom-shape-divider-bottom-1669647413 .shape-fill {
  fill: #ffffff;
}
