#nav1 {
  text-align: center;
  background-color: #d7ccdd;
  position: fixed;
  margin-left: 0;
  margin-top: 0px;
  width: 10%;
  height: 100%;
}
#nav2 {
  margin-left: 30%;
}
header {
  background-color: solid #8d77b4;
  margin-left: 50%;
  color: #8d77b4;
  background-color: #e5e5e5;
  padding: 10px 30px;
}
.searchBox {
  position: absolute;
  right: 7%;
  transform: translate(-50%, -50%);
  background-color: #bea3dd;
}
.searchBtn {
  color: #bea3dd;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
i {
  font-size: 17px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
b {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #4f926c;
}
.containers {
  background-color: #a7f1c0;
  width: 120px;
  height: 120px;
  margin-top: 15px;
}
.material-icons md-48 purple700 {
  color: #8d77b4;
}
