body {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #3c483f89;
}
.title {
  display: inline;
  text-align: center;
}

h2 {
  padding-top: 60px;
  margin-left: 30px; /* aqui */
}

.loginBase {
  display: flex;
  flex-direction: row;
  font-family: Verdana, sans-serif;
  color: rgb(86, 151, 108);
  background-color: #ffffff;
  width: 900px;
  height: 600px;
  box-shadow: 5px 5px 20px 5px rgb(62, 62, 62);
  margin-top: 80px;
}
form {
  font-family: Verdana, sans-serif;
  color: #222024;
  margin-top: 20%;
  margin-left: 40px; /* aqui 530*/
  font-size: 11px;
}

input[type="text"],
input[type="password"] {
  width: 230px;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: Verdana, sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-color: #503077;
}

button {
  background-color: #79e0a8;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 200px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
  color: #282729;
  margin-left: 30px;
}

.otherAcess {
  margin-top: 30px;
  margin-left: 60px;
}
.designImg {
  margin-left: -8.7%;
  width: 115%;
  height: 104%;
}
